/* line 4, ../sass/admin/assets.sass */
p.asset img.preview {
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 8, ../sass/admin/assets.sass */
.asset_filters {
  float: left;
  padding: 2px 0;
}
/* line 11, ../sass/admin/assets.sass */
.asset_filters a {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  color: #555555;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 12px;
}
/* line 17, ../sass/admin/assets.sass */
.asset_filters a:hover {
  background: #cccccc;
}
/* line 19, ../sass/admin/assets.sass */
.asset_filters a.pressed {
  background: #888888;
  -webkit-box-shadow: 0, 1px, 1px, #333333, inset;
  -moz-box-shadow: 0, 1px, 1px, #333333, inset;
  box-shadow: 0, 1px, 1px, #333333, inset;
  color: white;
  text-shadow: 0 1px 0 #333333;
}
/* line 24, ../sass/admin/assets.sass */
.asset_filters a.pressed:hover {
  background: #888888;
  -webkit-box-shadow: 0, 1px, 1px, #333333, inset;
  -moz-box-shadow: 0, 1px, 1px, #333333, inset;
  box-shadow: 0, 1px, 1px, #333333, inset;
  color: white;
  text-shadow: 0 1px 0 #333333;
}

/* line 31, ../sass/admin/assets.sass */
.popup div.toolbar {
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border-bottom: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  margin: -20px -20px 0;
  padding: 6px 10px 3px 10px;
  font-size: 95%;
  height: 30px;
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../sass/admin/assets.sass */
.popup div.toolbar .right {
  float: right;
}
/* line 43, ../sass/admin/assets.sass */
.popup div.toolbar form.search {
  padding: 4px 2px 0;
}
/* line 45, ../sass/admin/assets.sass */
.popup div.toolbar form.search input[type=search] {
  font-size: 12px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #cccccc;
  border-top-color: #999999;
  border-left-color: #b0b0b0;
  border-right-color: #bbbbbb;
  background: white url('/images/admin/search.png?1426766850') 4px center no-repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2), 0, 1px, 0, inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2), 0, 1px, 0, inset;
  box-shadow: rgba(0, 0, 0, 0.2), 0, 1px, 0, inset;
  width: 180px;
  padding: 2px 8px 2px 20px;
}
/* line 57, ../sass/admin/assets.sass */
.popup #assets_table.assets {
  overflow: auto;
}

/* line 61, ../sass/admin/assets.sass */
#upload_holders {
  display: none;
}

/* line 65, ../sass/admin/assets.sass */
#attach_asset .viewport {
  overflow-x: hidden;
  width: 610px;
  height: 310px;
}

/* line 70, ../sass/admin/assets.sass */
.attachment_actions {
  text-align: right;
  margin-bottom: -1em;
}
/* line 73, ../sass/admin/assets.sass */
.attachment_actions ul {
  list-style-type: none;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.attachment_actions ul, .attachment_actions ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 75, ../sass/admin/assets.sass */
.attachment_actions li {
  padding-left: 1em;
}
/* line 77, ../sass/admin/assets.sass */
.attachment_actions a {
  color: white !important;
  text-shadow: 1px 1px 0 #888888;
}

/* line 81, ../sass/admin/assets.sass */
.assets {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 85, ../sass/admin/assets.sass */
.assets ul li.asset {
  display: block;
  float: left;
  margin: 8px 0 0 8px;
  width: 110px;
  height: 110px;
  position: relative;
  line-height: 1.2em;
}
/* line 93, ../sass/admin/assets.sass */
.assets ul li.asset .front, .assets ul li.asset .back {
  display: block;
  background: #e6eaed;
  border: 5px solid white;
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
}
/* line 101, ../sass/admin/assets.sass */
.assets ul li.asset .front {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  text-align: center;
}
/* line 104, ../sass/admin/assets.sass */
.assets ul li.asset .back {
  color: #333333;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 108, ../sass/admin/assets.sass */
.assets ul li.asset .title {
  color: #333333;
  font-size: 10px;
  overflow: hidden;
  margin: 10px 4px;
  height: 15px;
  line-height: 15px;
  text-overflow: ellipsis;
}
/* line 116, ../sass/admin/assets.sass */
.assets ul li.asset .icon {
  height: 63px;
  line-height: 63px;
}
/* line 119, ../sass/admin/assets.sass */
.assets ul li.asset .icon img {
  vertical-align: bottom;
}
/* line 122, ../sass/admin/assets.sass */
.assets ul li.asset ul.actions li {
  margin: 5px 0;
  padding: 0 10px;
  font-size: 10px;
}
/* line 126, ../sass/admin/assets.sass */
.assets ul li.asset ul.actions a {
  background: #666666;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #dddddd;
  display: block;
  padding: 2px 10px;
  text-decoration: none;
}
/* line 134, ../sass/admin/assets.sass */
.assets ul li.asset ul.actions a:hover {
  background: #999999;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
/* line 139, ../sass/admin/assets.sass */
.assets ul li.asset.unsaved .front {
  opacity: 0.4;
}
/* line 142, ../sass/admin/assets.sass */
.assets ul li.asset:hover .back {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: rgba(255, 255, 255, 0.6);
}
/* line 145, ../sass/admin/assets.sass */
.assets ul li.asset.waiting {
  background-color: #e6eaed;
}
/* line 147, ../sass/admin/assets.sass */
.assets ul li.asset.waiting .back {
  display: none;
}
/* line 149, ../sass/admin/assets.sass */
.assets ul li.asset.waiting .front {
  background: transparent url(/images/admin/spinner.gif) no-repeat center center;
}
/* line 151, ../sass/admin/assets.sass */
.assets ul li.asset.waiting .front img {
  opacity: 0.2;
}

/* line 154, ../sass/admin/assets.sass */
#attachment_list.assets {
  background: #7e7e7e;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -1em 0.5em 1em 0.5em;
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 160, ../sass/admin/assets.sass */
#attachment_list.assets ul.empty {
  display: none;
}
/* line 162, ../sass/admin/assets.sass */
#attachment_list.assets p.note {
  font-size: 80%;
  margin: 0;
  padding: 8px;
  clear: left;
}
/* line 167, ../sass/admin/assets.sass */
#attachment_list.assets p.note span.message {
  float: right;
  color: #aaaaaa;
}
/* line 170, ../sass/admin/assets.sass */
#attachment_list.assets p.note span.message.important {
  color: #dd9999;
}
/* line 174, ../sass/admin/assets.sass */
#attachment_list.assets ul.sortable li.asset div.back {
  cursor: move;
}

/* line 177, ../sass/admin/assets.sass */
#assets_table.assets {
  position: relative;
  font-size: 75%;
}
/* line 180, ../sass/admin/assets.sass */
#assets_table.assets p {
  padding: 40px;
  padding-top: 45px;
  color: silver;
  text-align: center;
  font-style: oblique;
}
/* line 186, ../sass/admin/assets.sass */
#assets_table.assets ul {
  clear: both;
}
/* line 189, ../sass/admin/assets.sass */
#assets_table.assets ul li.asset input {
  display: none;
}
/* line 191, ../sass/admin/assets.sass */
#assets_table.assets div.pagination {
  position: relative;
  overflow: hidden;
  clear: left;
  width: 100%;
  height: 3em;
  padding: 0.5em 0;
}
/* line 198, ../sass/admin/assets.sass */
#assets_table.assets div.pagination span, #assets_table.assets div.pagination a {
  display: block;
  float: left;
  padding: 0.25em;
  margin: 1em 2px 1em 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
}
/* line 205, ../sass/admin/assets.sass */
#assets_table.assets div.pagination span.current {
  color: black;
  font-weight: bold;
}
/* line 208, ../sass/admin/assets.sass */
#assets_table.assets div.pagination span.disabled {
  background-color: #eeeeee;
  color: #cccccc;
}
/* line 211, ../sass/admin/assets.sass */
#assets_table.assets div.pagination a {
  background-color: #eeeeee;
  color: #444444;
}
/* line 214, ../sass/admin/assets.sass */
#assets_table.assets div.pagination a:hover {
  background-color: #cc0000;
  color: white;
}
/* line 218, ../sass/admin/assets.sass */
#assets_table.assets div.pagination span {
  color: #888888;
}
/* line 220, ../sass/admin/assets.sass */
#assets_table.assets div.pagination span, #assets_table.assets div.pagination a {
  display: block;
  float: left;
  padding: 2px 6px;
  line-height: 1.5em;
}
