/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/admin/partials/_typography.sass */
body {
  font-size: 15px;
  font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
  line-height: 1.4;
}

/* line 6, ../sass/admin/partials/_typography.sass */
a {
  color: #0066cc;
  text-decoration: underline;
}
/* line 4, ../sass/admin/modules/_links.sass */
a:hover {
  text-decoration: none;
}
/* line 8, ../sass/admin/partials/_typography.sass */
a.alt {
  color: red;
  text-decoration: underline;
}
/* line 10, ../sass/admin/modules/_links.sass */
a.alt:hover {
  text-decoration: none;
}

/* line 11, ../sass/admin/partials/_typography.sass */
big {
  font-size: 110%;
}

/* line 14, ../sass/admin/partials/_typography.sass */
h1 {
  font-size: 180%;
  font-weight: bold;
  margin: 0.75em 0;
}

/* line 19, ../sass/admin/partials/_typography.sass */
h3 {
  font-weight: bold;
  font-size: 130%;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

/* line 25, ../sass/admin/partials/_typography.sass */
h4, h5, h6 {
  font-weight: bold;
}

/* line 28, ../sass/admin/partials/_typography.sass */
p {
  margin: 1em 0;
}

/* line 31, ../sass/admin/partials/_typography.sass */
td {
  vertical-align: middle;
}

/* line 34, ../sass/admin/partials/_typography.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 38, ../sass/admin/partials/_typography.sass */
img {
  border: none;
  vertical-align: middle;
}

/* line 42, ../sass/admin/partials/_typography.sass */
input[type=image] {
  border: none;
  vertical-align: middle;
}

/* line 46, ../sass/admin/partials/_typography.sass */
input.big {
  font-size: 120%;
}

/* line 49, ../sass/admin/partials/_typography.sass */
#change_password span, span.info, span.error {
  font-size: 80%;
}

/* line 52, ../sass/admin/partials/_typography.sass */
.clear {
  font-size: 1px;
  clear: both;
}

/* line 56, ../sass/admin/partials/_typography.sass */
.warning {
  color: red;
}

/* line 59, ../sass/admin/partials/_typography.sass */
table {
  border-collapse: collapse;
}

/* line 1, ../sass/admin/partials/_layout.sass */
body.reversed {
  background-color: #9e9e9e;
  color: white;
}

/* line 6, ../sass/admin/partials/_layout.sass */
body.single_form #content {
  text-align: center;
}
/* line 8, ../sass/admin/partials/_layout.sass */
body.single_form #content #single_form {
  margin: 6em auto 0;
  text-align: left;
}

/* line 1, ../sass/admin/partials/_header.sass */
#header {
  font-size: 90%;
  background: #ca0000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8d0000), color-stop(50%, #ca0000), color-stop(100%, #ca0000));
  background-image: -webkit-linear-gradient(top, #8d0000, #ca0000, #ca0000);
  background-image: -moz-linear-gradient(top, #8d0000, #ca0000, #ca0000);
  background-image: -o-linear-gradient(top, #8d0000, #ca0000, #ca0000);
  background-image: linear-gradient(top, #8d0000, #ca0000, #ca0000);
  position: relative;
}
/* line 6, ../sass/admin/partials/_header.sass */
#header:after {
  content: "\0020";
  display: block;
  clear: both;
  overflow: hidden;
  height: 2px;
  width: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

/* line 16, ../sass/admin/partials/_header.sass */
#site_links {
  color: #f7d8d8;
  font-size: 80%;
  float: right;
  padding: 15px 10px 0 5px;
  height: 16px;
}
/* line 22, ../sass/admin/partials/_header.sass */
#site_links a {
  color: white;
}
/* line 24, ../sass/admin/partials/_header.sass */
#site_links a:hover, #site_links strong a {
  text-decoration: none;
}

/* line 27, ../sass/admin/partials/_header.sass */
#view_site {
  font-size: 90%;
  background: rgba(0, 0, 0, 0.45);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  padding: 3px 10px 4px;
  text-decoration: none;
}

/* line 35, ../sass/admin/partials/_header.sass */
ul#navigation {
  float: left;
  margin-top: 6px;
}
/* line 38, ../sass/admin/partials/_header.sass */
ul#navigation li {
  float: left;
  height: 30px;
  margin: 4px 0 0 8px;
  white-space: nowrap;
}
/* line 43, ../sass/admin/partials/_header.sass */
ul#navigation li a {
  background: rgba(255, 255, 255, 0.3);
  color: #f7d8d8;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 53, ../sass/admin/partials/_header.sass */
ul#navigation li:hover a {
  background: rgba(255, 255, 255, 0.5);
  color: white;
}
/* line 56, ../sass/admin/partials/_header.sass */
ul#navigation li.current a {
  background: white;
  color: #333333;
  font-weight: bold;
}

/* line 61, ../sass/admin/partials/_header.sass */
#toolbar {
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f2f2f2), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2, #cccccc);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2, #cccccc);
  background-image: linear-gradient(top, #ffffff, #f2f2f2, #cccccc);
  font-size: 95%;
  clear: both;
  margin: 0;
  width: 100%;
  height: 38px;
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#toolbar:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../sass/admin/partials/_header.sass */
#toolbar .right {
  float: right;
}
/* line 72, ../sass/admin/partials/_header.sass */
#toolbar form.search {
  padding: 8px 8px 0;
}
/* line 74, ../sass/admin/partials/_header.sass */
#toolbar form.search input[type=search] {
  font-size: 12px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #cccccc;
  border-top-color: #999999;
  border-left-color: #b0b0b0;
  border-right-color: #bbbbbb;
  background: white url('/images/admin/search.png?1426766850') 4px center no-repeat;
  -webkit-box-shadow: 0 1px 0 inset rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 inset rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 inset rgba(0, 0, 0, 0.2);
  width: 180px;
  padding: 2px 8px 2px 20px;
}

/* line 86, ../sass/admin/partials/_header.sass */
ul#secondary_navigation {
  float: left;
  margin-right: 8px;
}
/* line 89, ../sass/admin/partials/_header.sass */
ul#secondary_navigation li {
  float: left;
  display: block;
  background: url('/images/admin/navigation_secondary_separator.gif?1426766850') bottom right no-repeat;
  padding-right: 2px;
}
/* line 94, ../sass/admin/partials/_header.sass */
ul#secondary_navigation li a {
  color: #555555;
  display: block;
  font-weight: normal;
  float: left;
  line-height: 38px;
  margin: 0;
  padding: 0 26px;
  height: 38px;
  text-decoration: none;
}
/* line 104, ../sass/admin/partials/_header.sass */
ul#secondary_navigation li a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4f9ff), color-stop(30%, #d2ebfd), color-stop(50%, #b1d1f1), color-stop(50%, #9bc5ed), color-stop(100%, #caecff));
  background-image: -webkit-linear-gradient(top, #e4f9ff, #d2ebfd 30%, #b1d1f1 50%, #9bc5ed 50%, #caecff);
  background-image: -moz-linear-gradient(top, #e4f9ff, #d2ebfd 30%, #b1d1f1 50%, #9bc5ed 50%, #caecff);
  background-image: -o-linear-gradient(top, #e4f9ff, #d2ebfd 30%, #b1d1f1 50%, #9bc5ed 50%, #caecff);
  background-image: linear-gradient(top, #e4f9ff, #d2ebfd 30%, #b1d1f1 50%, #9bc5ed 50%, #caecff);
  color: #444444;
}
/* line 107, ../sass/admin/partials/_header.sass */
ul#secondary_navigation li a.current {
  background: #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(35%, #e6e6e6), color-stop(50%, #d9d9d9), color-stop(50%, #cccccc), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6 35%, #d9d9d9 50%, #cccccc 50%, #d9d9d9);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6 35%, #d9d9d9 50%, #cccccc 50%, #d9d9d9);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6 35%, #d9d9d9 50%, #cccccc 50%, #d9d9d9);
  background-image: linear-gradient(top, #ffffff, #e6e6e6 35%, #d9d9d9 50%, #cccccc 50%, #d9d9d9);
  color: #333333;
  font-weight: bold;
}
/* line 112, ../sass/admin/partials/_header.sass */
ul#secondary_navigation li a.current:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0f9fe), color-stop(30%, #c4e2f8), color-stop(50%, #98c3e7), color-stop(50%, #79aedb), color-stop(100%, #b1ddef));
  background-image: -webkit-linear-gradient(top, #e0f9fe, #c4e2f8 30%, #98c3e7 50%, #79aedb 50%, #b1ddef);
  background-image: -moz-linear-gradient(top, #e0f9fe, #c4e2f8 30%, #98c3e7 50%, #79aedb 50%, #b1ddef);
  background-image: -o-linear-gradient(top, #e0f9fe, #c4e2f8 30%, #98c3e7 50%, #79aedb 50%, #b1ddef);
  background-image: linear-gradient(top, #e0f9fe, #c4e2f8 30%, #98c3e7 50%, #79aedb 50%, #b1ddef);
  color: #222222;
}

/* line 1, ../sass/admin/partials/_avatars.sass */
img.avatar {
  background: white;
  border: none;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
/* line 7, ../sass/admin/partials/_avatars.sass */
img.avatar.avatar_32x32 {
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 1, ../sass/admin/partials/_dropdown.sass */
.dropdown_wrapper {
  border: 1px solid #b3b3b3;
  border-top: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 8, ../sass/admin/partials/_dropdown.sass */
ul.menu {
  background: white;
  font-size: 80%;
  padding: 5px 20px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 14, ../sass/admin/partials/_dropdown.sass */
ul.menu li {
  margin: 0 -20px;
}
/* line 16, ../sass/admin/partials/_dropdown.sass */
ul.menu li.separator {
  margin: 5px -18px;
  border-top: 1px solid #e5e5e5;
}
/* line 19, ../sass/admin/partials/_dropdown.sass */
ul.menu a {
  color: black;
  display: block;
  padding: 6px 20px 7px;
  text-decoration: none;
  border-top: 1px solid white;
}
/* line 25, ../sass/admin/partials/_dropdown.sass */
ul.menu a:hover {
  background: #e0f0ff;
  border-top: 1px solid #d5f0ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f5ff), color-stop(100%, #b5d0f5));
  background-image: -webkit-linear-gradient(top, #e5f5ff, #b5d0f5);
  background-image: -moz-linear-gradient(top, #e5f5ff, #b5d0f5);
  background-image: -o-linear-gradient(top, #e5f5ff, #b5d0f5);
  background-image: linear-gradient(top, #e5f5ff, #b5d0f5);
}

/* line 1, ../sass/admin/partials/_messages.sass */
#notice, #error {
  padding: 1px 1em;
}

/* line 4, ../sass/admin/partials/_messages.sass */
#notice {
  background-color: #b2e5b2;
  color: #006600;
}

/* line 8, ../sass/admin/partials/_messages.sass */
#error {
  background-color: #f3c2c2;
  color: #770000;
}

/* line 14, ../sass/admin/partials/_forms.sass */
#content form p label {
  display: block;
}
/* line 16, ../sass/admin/partials/_forms.sass */
#content form p label.checkbox, #content form p label.radio {
  display: inline;
  font-weight: normal;
  font-size: 95%;
  text-shadow: none;
  margin-right: 1em;
}
/* line 22, ../sass/admin/partials/_forms.sass */
#content form p label.multi_option {
  margin-bottom: 0.3em;
}
/* line 24, ../sass/admin/partials/_forms.sass */
#content form p input.textbox {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 140%;
  margin-bottom: 0;
}
/* line 28, ../sass/admin/partials/_forms.sass */
#content form p input.checkbox, #content form p input.radio {
  margin-top: 0.3em;
}
/* line 30, ../sass/admin/partials/_forms.sass */
#content form p textarea {
  font-size: 100%;
  margin-top: 0.3em;
}
/* line 33, ../sass/admin/partials/_forms.sass */
#content form p .value {
  display: block;
  margin-top: 0.25em;
  text-shadow: #666666 1px 1px 0;
}
/* line 37, ../sass/admin/partials/_forms.sass */
#content form p .hint {
  font-size: 90%;
  display: block;
  margin-top: 0.25em;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}
/* line 42, ../sass/admin/partials/_forms.sass */
#content form p a {
  color: white;
}
/* line 44, ../sass/admin/partials/_forms.sass */
#content form p a.action {
  background-color: #7e7e7e;
  font-size: 75%;
  padding: 0.2em 0.5em 0.3em;
  text-decoration: none;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 51, ../sass/admin/partials/_forms.sass */
#content form p a.action:hover {
  background-color: #555555;
}
/* line 54, ../sass/admin/partials/_forms.sass */
#content form p.title input.textbox {
  margin-top: 4px;
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 200%;
  width: 99.5%;
}
/* line 59, ../sass/admin/partials/_forms.sass */
#content form .set {
  float: left;
  width: 100%;
  margin-bottom: 1em;
  clear: both;
}
/* line 64, ../sass/admin/partials/_forms.sass */
#content form .set p {
  float: left;
  margin: 0 1em 0 0;
}
/* line 67, ../sass/admin/partials/_forms.sass */
#content form .buttons {
  color: #666666;
  font-size: 80%;
  margin: 2.5em 0 1em;
}
/* line 71, ../sass/admin/partials/_forms.sass */
#content form .buttons button, #content form .buttons input.button {
  font-size: 150%;
}
/* line 73, ../sass/admin/partials/_forms.sass */
#content form .buttons a {
  color: red;
  text-decoration: underline;
}
/* line 10, ../sass/admin/modules/_links.sass */
#content form .buttons a:hover {
  text-decoration: none;
}

/* line 76, ../sass/admin/partials/_forms.sass */
.drawer {
  margin-top: -1em;
  margin-bottom: 1em;
}

/* line 79, ../sass/admin/partials/_forms.sass */
.drawer_contents {
  background: #7e7e7e;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0;
  margin-right: 2px;
  padding-bottom: 2px;
  overflow: hidden;
}
/* line 86, ../sass/admin/partials/_forms.sass */
.drawer_contents:before {
  content: "\0020";
  display: block;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  height: 3px;
  margin-bottom: -3px;
}
/* line 93, ../sass/admin/partials/_forms.sass */
.drawer_contents table.fieldset {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 97, ../sass/admin/partials/_forms.sass */
.drawer_contents table.fieldset th, .drawer_contents table.fieldset td {
  border-top: 1px #999999 solid;
  padding: 6px;
}
/* line 101, ../sass/admin/partials/_forms.sass */
.drawer_contents table.fieldset th.label {
  font-size: 85%;
  padding: 0 15px 0 10px !important;
  whitespace: nowrap;
  width: 1%;
  vertical-align: middle;
  text-align: left;
}
/* line 109, ../sass/admin/partials/_forms.sass */
.drawer_contents table.fieldset td.field {
  padding-left: 0px;
  padding-right: 10px;
  text-align: right;
  width: auto;
}
/* line 114, ../sass/admin/partials/_forms.sass */
.drawer_contents table.fieldset td.field input.textbox {
  font-size: 110%;
  width: 99.5%;
}
/* line 117, ../sass/admin/partials/_forms.sass */
.drawer_contents table.fieldset td.actions {
  width: 40px;
  text-align: left;
  vertical-align: middle;
}
/* line 122, ../sass/admin/partials/_forms.sass */
.drawer_contents table.fieldset tr:first-child td, .drawer_contents table.fieldset tr:first-child th {
  border-top: none;
}

/* line 124, ../sass/admin/partials/_forms.sass */
.drawer_handle {
  padding: 4px 0 5px;
  margin-top: -1px;
}
/* line 127, ../sass/admin/partials/_forms.sass */
.drawer_handle a {
  background: #7e7e7e;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #f0f0f0;
  font-size: 80%;
  padding: 4px 21px 5px 10px;
  position: relative;
  top: -1px;
  text-shadow: #666666 1px 1px 0;
  text-decoration: none;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 139, ../sass/admin/partials/_forms.sass */
.drawer_handle a:hover, .drawer_handle a:active, .drawer_handle a:focus {
  text-decoration: underline;
}
/* line 141, ../sass/admin/partials/_forms.sass */
.drawer_handle a.more {
  background: #7e7e7e url('/images/admin/metadata_toggle.png?1426766850') no-repeat 85% 8px;
}
/* line 143, ../sass/admin/partials/_forms.sass */
.drawer_handle a.less {
  background: #7e7e7e url('/images/admin/metadata_toggle.png?1426766850') no-repeat 85% -21px;
}

/* line 146, ../sass/admin/partials/_forms.sass */
.box {
  color: #333333;
  background: #f5f1e2;
  font-size: 90%;
  padding: 1px 15px 10px;
  position: relative;
  margin: 3px 0 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.box:after {
  content: "";
  display: table;
  clear: both;
}
/* line 155, ../sass/admin/partials/_forms.sass */
.box * {
  position: relative;
}
/* line 157, ../sass/admin/partials/_forms.sass */
.box:before {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f5f1e2), color-stop(100%, #f5f1e2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f1e2 50%, #f5f1e2);
  background-image: -moz-linear-gradient(top, #ffffff, #f5f1e2 50%, #f5f1e2);
  background-image: -o-linear-gradient(top, #ffffff, #f5f1e2 50%, #f5f1e2);
  background-image: linear-gradient(top, #ffffff, #f5f1e2 50%, #f5f1e2);
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  content: "\0020";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  overflow: hidden;
  left: 0;
  top: 0;
}
/* line 168, ../sass/admin/partials/_forms.sass */
.box h3 {
  color: #333333;
  margin: 15px 0 0;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 8px;
}
/* line 173, ../sass/admin/partials/_forms.sass */
.box h3 .actions {
  float: right;
}
/* line 175, ../sass/admin/partials/_forms.sass */
.box h3 .actions button {
  font-size: 13px;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  top: -4px;
}
/* line 181, ../sass/admin/partials/_forms.sass */
.box h4 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 4px;
  font-size: 110%;
  margin-top: 1.5em;
}
/* line 186, ../sass/admin/partials/_forms.sass */
.box p.ruled {
  border-bottom: 1px solid #dddddd;
  margin: 0;
  padding: 0.5em 0;
}
/* line 190, ../sass/admin/partials/_forms.sass */
.box p.ruled:last-child {
  border: none;
}
/* line 192, ../sass/admin/partials/_forms.sass */
.box label {
  color: #888888;
  width: 12em;
  display: inline-block;
}
/* line 196, ../sass/admin/partials/_forms.sass */
.box span.uri {
  color: #3399cc;
}
/* line 198, ../sass/admin/partials/_forms.sass */
.box:last-child {
  margin: 0;
}
/* line 201, ../sass/admin/partials/_forms.sass */
.box#preferences img.avatar {
  float: right;
  margin: 10px 0px;
  z-index: 100;
}

/* line 206, ../sass/admin/partials/_forms.sass */
textarea {
  border: 1px solid #cdc295;
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 95%;
}
/* line 210, ../sass/admin/partials/_forms.sass */
textarea.large {
  height: 280px;
}

/* line 213, ../sass/admin/partials/_forms.sass */
p.updated_line {
  background-color: inherit;
  font-size: 80%;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
}

/* line 223, ../sass/admin/partials/_forms.sass */
body.reversed #content form p label {
  color: whitesmoke;
  font-weight: normal;
  text-shadow: 1px 1px 0 #888888;
}
/* line 227, ../sass/admin/partials/_forms.sass */
body.reversed #content form p label .hint {
  display: inline;
}
/* line 229, ../sass/admin/partials/_forms.sass */
body.reversed #content form .hint {
  color: #d0d0d0;
  text-shadow: none;
}
/* line 232, ../sass/admin/partials/_forms.sass */
body.reversed #content form .buttons {
  background: #d8d8d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(top, #ffffff, #cccccc);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 12px 10px;
}
/* line 234, ../sass/admin/partials/_forms.sass */
body.reversed #content form fieldset {
  background: #858585;
  padding: 20px 15px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 0 #ababab;
  -moz-box-shadow: 1px 1px 0 #ababab;
  box-shadow: 1px 1px 0 #ababab;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 241, ../sass/admin/partials/_forms.sass */
body.reversed #content form fieldset h3 {
  font-weight: bold;
  font-size: 120%;
  margin: -20px -20px 0 -20px;
  padding: 15px 20px 0 20px;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}
/* line 247, ../sass/admin/partials/_forms.sass */
body.reversed #content form fieldset p {
  margin-bottom: 0;
}
/* line 249, ../sass/admin/partials/_forms.sass */
body.reversed #content p.updated_line {
  color: #eeeeee;
}
/* line 251, ../sass/admin/partials/_forms.sass */
body.reversed #content textarea {
  border: 1px solid white;
}
/* line 253, ../sass/admin/partials/_forms.sass */
body.reversed #content .box {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

/* line 258, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form {
  background: #f5f1e2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfcf9), color-stop(25%, #f5f1e2), color-stop(100%, #f5f1e2));
  background-image: -webkit-linear-gradient(top, #fdfcf9, #f5f1e2 25%, #f5f1e2);
  background-image: -moz-linear-gradient(top, #fdfcf9, #f5f1e2 25%, #f5f1e2);
  background-image: -o-linear-gradient(top, #fdfcf9, #f5f1e2 25%, #f5f1e2);
  background-image: linear-gradient(top, #fdfcf9, #f5f1e2 25%, #f5f1e2);
  border: 0.35em solid #efead3;
  padding: 0.5em 1.5em;
  padding-right: 22px;
  position: relative;
  width: 28em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 267, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form h1 {
  font-size: 140%;
  margin: 0.75em 0 1.25em;
}
/* line 270, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form p {
  font-size: 90%;
}
/* line 272, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form p.intro, body.single_form #content #single_form p.error {
  font-size: 100%;
  line-height: 1.4;
}
/* line 275, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form p.error {
  color: #cc0000;
}
/* line 277, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form p label {
  font-size: 105%;
}
/* line 279, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form p label.checkbox {
  font-size: 90%;
}
/* line 281, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form ul {
  font-size: 90%;
  list-style: disc;
  padding-left: 2em;
}
/* line 285, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form ul li {
  margin-bottom: 0.5em;
}
/* line 287, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form input.textbox {
  width: 98.5%;
}
/* line 289, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form span.remember_me {
  color: #333333;
  font-size: 95%;
  margin-left: 1em;
}
/* line 293, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form span.remember_me label {
  margin: 0;
}
/* line 295, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form span.remember_me a {
  margin: 0;
  color: #0066cc;
  text-decoration: underline;
}
/* line 4, ../sass/admin/modules/_links.sass */
body.single_form #content #single_form span.remember_me a:hover {
  text-decoration: none;
}
/* line 298, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form span.forgot_password {
  position: relative;
  top: -3px;
  margin: 0 1em;
}
/* line 302, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form span.forgot_password a {
  color: #0066cc;
  text-decoration: underline;
}
/* line 4, ../sass/admin/modules/_links.sass */
body.single_form #content #single_form span.forgot_password a:hover {
  text-decoration: none;
}
/* line 304, ../sass/admin/partials/_forms.sass */
body.single_form #content #single_form .buttons {
  margin: 1.75em 0 1em;
}
/* line 306, ../sass/admin/partials/_forms.sass */
body.single_form #content p.version {
  background: url('/images/admin/single_form_shadow.png?1426766850') top center no-repeat;
  color: #666666;
  font-size: 80%;
  padding-top: 10px;
  margin-top: 0;
}

/* line 314, ../sass/admin/partials/_forms.sass */
body.edit_user #avatar, body.edit_personal_preferences #avatar {
  left: 26em;
  position: absolute;
  text-align: center;
  width: 102px;
}
/* line 319, ../sass/admin/partials/_forms.sass */
body.edit_user #avatar p.caption, body.edit_personal_preferences #avatar p.caption {
  font-size: 70%;
  color: #e5e5e5;
  line-height: 1.3;
}

/* line 10, ../sass/admin/partials/_index.sass */
table.index {
  font-size: 90%;
  margin-bottom: 2em;
  width: 100%;
  border-bottom: 1px solid white;
}
/* line 15, ../sass/admin/partials/_index.sass */
table.index th {
  text-align: left;
  background-color: #9e9e9e;
  color: white;
  font-size: 90%;
  font-weight: normal;
  padding: 2px 9px;
}
/* line 22, ../sass/admin/partials/_index.sass */
table.index th.actions {
  padding-left: 15px;
  min-width: 18em;
}
/* line 25, ../sass/admin/partials/_index.sass */
table.index th.name {
  width: 100%;
}
/* line 27, ../sass/admin/partials/_index.sass */
table.index th.status {
  min-width: 8em;
}
/* line 29, ../sass/admin/partials/_index.sass */
table.index td {
  text-align: left;
  padding: 4px 9px;
  border-top: 1px solid #f0f0f0;
}
/* line 33, ../sass/admin/partials/_index.sass */
table.index td a.action, table.index td span.action.disabled {
  padding: 6px;
  margin: 0 25px 0 1px;
}
/* line 36, ../sass/admin/partials/_index.sass */
table.index td a.action img, table.index td span.action.disabled img {
  vertical-align: -18%;
}
/* line 38, ../sass/admin/partials/_index.sass */
table.index td a.action {
  color: black;
  text-decoration: none;
}
/* line 41, ../sass/admin/partials/_index.sass */
table.index td a.action:hover {
  background: #d8d8d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(top, #ffffff, #cccccc);
  border: 1px solid #a5c9df;
  margin: 0 24px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 47, ../sass/admin/partials/_index.sass */
table.index td a.action.selected {
  background: #c5e0f5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f5ff), color-stop(100%, #c5e0ff));
  background-image: -webkit-linear-gradient(top, #e5f5ff, #c5e0ff);
  background-image: -moz-linear-gradient(top, #e5f5ff, #c5e0ff);
  background-image: -o-linear-gradient(top, #e5f5ff, #c5e0ff);
  background-image: linear-gradient(top, #e5f5ff, #c5e0ff);
  border: 1px solid #a5c9df;
  margin: 0 24px 0 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 54, ../sass/admin/partials/_index.sass */
table.index td span.action.disabled {
  color: #cccccc;
}
/* line 56, ../sass/admin/partials/_index.sass */
table.index td.empty {
  color: silver;
  font-size: 85%;
  font-style: italic;
  padding: 3em;
  text-align: center;
}
/* line 62, ../sass/admin/partials/_index.sass */
table.index td.name {
  font-size: 115%;
  font-weight: bold;
}
/* line 65, ../sass/admin/partials/_index.sass */
table.index td.name img {
  vertical-align: center;
}
/* line 67, ../sass/admin/partials/_index.sass */
table.index td.name a {
  color: black;
  text-decoration: none;
}
/* line 70, ../sass/admin/partials/_index.sass */
table.index td.name a:hover {
  color: #0066cc;
  text-decoration: underline;
}
/* line 73, ../sass/admin/partials/_index.sass */
table.index td.actions {
  font-size: 85%;
  white-space: nowrap;
}
/* line 77, ../sass/admin/partials/_index.sass */
table.index tr:first-child {
  border-top: 1px solid white;
}
/* line 80, ../sass/admin/partials/_index.sass */
table.index tr.hover td, table.index tr:hover td {
  border-top: 1px solid #d5f0ff;
  border-bottom: 1px solid #c5dff5;
  background: #c5dff5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f5ff), color-stop(100%, #c5dff5));
  background-image: -webkit-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: -moz-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: -o-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: linear-gradient(top, #e5f5ff, #c5dff5);
}
/* line 86, ../sass/admin/partials/_index.sass */
table.index thead tr, table.index thead tr:first-child {
  border-top: none;
}

/* line 91, ../sass/admin/partials/_index.sass */
table.index#pages tr.page.level_0 td.name {
  font-size: 120%;
  font-weight: bold;
}
/* line 94, ../sass/admin/partials/_index.sass */
table.index#pages tr.page.level_1 td.name {
  font-size: 115%;
  font-weight: bold;
}
/* line 97, ../sass/admin/partials/_index.sass */
table.index#pages tr.page.level_2 td.name {
  font-size: 115%;
}
/* line 99, ../sass/admin/partials/_index.sass */
table.index#pages tr.page.level_3 td.name {
  font-size: 105%;
}
/* line 101, ../sass/admin/partials/_index.sass */
table.index#pages td.name {
  font-size: 105%;
}
/* line 103, ../sass/admin/partials/_index.sass */
table.index#pages td.name a {
  text-decoration: none;
}
/* line 105, ../sass/admin/partials/_index.sass */
table.index#pages td.name a .title {
  color: black;
  text-decoration: none;
}
/* line 108, ../sass/admin/partials/_index.sass */
table.index#pages td.name a:hover .title {
  color: #0066cc;
  text-decoration: underline;
}
/* line 111, ../sass/admin/partials/_index.sass */
table.index#pages td.name .info {
  color: #9eb3bf;
  font-style: italic;
  font-weight: normal;
  font-size: 90%;
}
/* line 116, ../sass/admin/partials/_index.sass */
table.index#pages tr.page.virtual td.name a .title {
  color: #9eb3bf;
}
/* line 119, ../sass/admin/partials/_index.sass */
table.index#pages td.name .w1 {
  position: relative;
}
/* line 121, ../sass/admin/partials/_index.sass */
table.index#pages td.name .w1 img.expander {
  left: -25px;
  position: absolute;
  padding: 6px 3px;
}
/* line 125, ../sass/admin/partials/_index.sass */
table.index#pages td.status {
  font-size: 80%;
}

/* line 129, ../sass/admin/partials/_index.sass */
.status a {
  color: #333333;
  text-decoration: none;
}
/* line 16, ../sass/admin/modules/_links.sass */
.status a:hover {
  text-decoration: underline;
  color: #0066cc;
}

/* line 131, ../sass/admin/partials/_index.sass */
.draft_status {
  color: white;
  background: #cc494c;
  display: block;
  padding: 0 6px;
  width: 5em;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

/* line 133, ../sass/admin/partials/_index.sass */
.hidden_status {
  color: white;
  background: #9eb3bf;
  display: block;
  padding: 0 6px;
  width: 5em;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

/* line 137, ../sass/admin/partials/_index.sass */
table.index#users td.name {
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 140, ../sass/admin/partials/_index.sass */
table.index#users td.name img.avatar {
  margin-right: 4px;
  vertical-align: center;
}
/* line 143, ../sass/admin/partials/_index.sass */
table.index#users td.name .login {
  color: #9eb3bf;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
}

/* line 1, ../sass/admin/partials/_content.sass */
#main {
  float: left;
  width: 100%;
}

/* line 5, ../sass/admin/partials/_content.sass */
#content {
  font-size: 95%;
  line-height: 1.2em;
  padding: 20px;
}

/* line 9, ../sass/admin/partials/_content.sass */
.outset {
  margin: -20px;
  margin-bottom: 20px;
}

/* line 14, ../sass/admin/partials/_content.sass */
table.fieldset th {
  padding: 6px;
}
/* line 16, ../sass/admin/partials/_content.sass */
table.fieldset td.field textarea {
  width: 99.5%;
  margin-right: -5px;
}

/* line 21, ../sass/admin/partials/_content.sass */
body.reversed h1 {
  border-bottom: 1px solid #ababab;
  background: #7e7e7e;
  font-size: 125%;
  margin: -20px -20px 20px;
  padding: 15px 20px;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}

/* line 29, ../sass/admin/partials/_content.sass */
.fullcover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 38, ../sass/admin/partials/_content.sass */
.clipped {
  overflow: hidden;
}

/* line 41, ../sass/admin/partials/_content.sass */
.grey_out {
  background: #666666;
  background: rgba(0, 0, 0, 0.7);
}

/* line 45, ../sass/admin/partials/_content.sass */
#preview_panel {
  background: white;
}

/* line 48, ../sass/admin/partials/_content.sass */
.preview_tools {
  color: black;
  position: fixed;
  top: 10px;
  right: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: #d8d8d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(top, #ffffff, #cccccc);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 12px 10px;
}
/* line 55, ../sass/admin/partials/_content.sass */
.preview_tools:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 57, ../sass/admin/partials/_content.sass */
.preview_tools a {
  color: red;
  text-decoration: underline;
}
/* line 10, ../sass/admin/modules/_links.sass */
.preview_tools a:hover {
  text-decoration: none;
}

/* line 6, ../sass/admin/partials/_actions.sass */
#actions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #777777;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(33.33333%, #666666), color-stop(66.66667%, #777777), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(top, #555555, #666666, #777777, #777777);
  background-image: -moz-linear-gradient(top, #555555, #666666, #777777, #777777);
  background-image: -o-linear-gradient(top, #555555, #666666, #777777, #777777);
  background-image: linear-gradient(top, #555555, #666666, #777777, #777777);
}
/* line 13, ../sass/admin/partials/_actions.sass */
#actions ul {
  padding: 14px 8px;
}
/* line 15, ../sass/admin/partials/_actions.sass */
#actions li {
  display: inline;
  margin-right: 5px;
}
/* line 19, ../sass/admin/partials/_actions.sass */
#actions .pagination {
  position: relative;
  overflow: hidden;
  float: right;
  margin-right: 24px;
  padding: 0 5px 5px 0;
}
/* line 25, ../sass/admin/partials/_actions.sass */
#actions .pagination a, #actions .pagination span.current, #actions .pagination span.disabled {
  display: block;
  float: left;
  padding: 6px 12px 6px 12px;
  margin-right: 1px;
  background: #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c5c5c5), color-stop(20%, #f0f0f0), color-stop(35%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #c5c5c5, #f0f0f0 20%, #ffffff 35%, #ffffff);
  background-image: -moz-linear-gradient(top, #c5c5c5, #f0f0f0 20%, #ffffff 35%, #ffffff);
  background-image: -o-linear-gradient(top, #c5c5c5, #f0f0f0 20%, #ffffff 35%, #ffffff);
  background-image: linear-gradient(top, #c5c5c5, #f0f0f0 20%, #ffffff 35%, #ffffff);
  color: #999999;
  font-size: 80%;
  text-decoration: none;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 37, ../sass/admin/partials/_actions.sass */
#actions .pagination a {
  text-shadow: 1px 1px 1px #eeeeee;
}
/* line 39, ../sass/admin/partials/_actions.sass */
#actions .pagination a:hover {
  background: #d8d8d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #ffffff, #dddddd);
  color: #0076a3;
  -webkit-box-shadow: 1px 2px 3px #555555;
  -moz-box-shadow: 1px 2px 3px #555555;
  box-shadow: 1px 2px 3px #555555;
}
/* line 44, ../sass/admin/partials/_actions.sass */
#actions .pagination a:active {
  color: black;
  -webkit-box-shadow: 0 0 0 #555555;
  -moz-box-shadow: 0 0 0 #555555;
  box-shadow: 0 0 0 #555555;
}
/* line 47, ../sass/admin/partials/_actions.sass */
#actions .pagination span.disabled {
  color: #666666;
  background-color: #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888888), color-stop(33.33333%, #999999), color-stop(66.66667%, #999999), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(top, #888888, #999999, #999999, #999999);
  background-image: -moz-linear-gradient(top, #888888, #999999, #999999, #999999);
  background-image: -o-linear-gradient(top, #888888, #999999, #999999, #999999);
  background-image: linear-gradient(top, #888888, #999999, #999999, #999999);
}
/* line 51, ../sass/admin/partials/_actions.sass */
#actions .pagination span.current {
  color: black;
  background: white;
  font-weight: bold;
  background-image: none;
  -webkit-box-shadow: 1px 2px 3px #555555;
  -moz-box-shadow: 1px 2px 3px #555555;
  box-shadow: 1px 2px 3px #555555;
}
/* line 57, ../sass/admin/partials/_actions.sass */
#actions .pagination span.gap {
  display: block;
  float: left;
  padding: 6px;
  color: #cccccc;
}
/* line 62, ../sass/admin/partials/_actions.sass */
#actions .depaginate {
  float: right;
  padding: 6px 12px;
}
/* line 65, ../sass/admin/partials/_actions.sass */
#actions .depaginate a {
  -webkit-box-shadow: 0 0 0 #555555;
  -moz-box-shadow: 0 0 0 #555555;
  box-shadow: 0 0 0 #555555;
  background: none;
  font-size: 80%;
  color: #cccccc;
  text-shadow: none;
  text-decoration: none;
}
/* line 72, ../sass/admin/partials/_actions.sass */
#actions .depaginate a:hover {
  color: white;
}

/* line 75, ../sass/admin/partials/_actions.sass */
.button_form {
  display: inline;
}

/* line 77, ../sass/admin/partials/_actions.sass */
.action_button {
  display: inline;
  background: #d8d8d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(top, #ffffff, #cccccc);
  color: #333333;
  font-size: 80%;
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 3px #555555;
  -moz-box-shadow: 1px 2px 3px #555555;
  box-shadow: 1px 2px 3px #555555;
}
/* line 88, ../sass/admin/partials/_actions.sass */
.action_button:hover {
  color: #0076a3;
  text-shadow: 1px 1px 1px white;
}
/* line 91, ../sass/admin/partials/_actions.sass */
.action_button:active {
  background: white;
  -webkit-box-shadow: 0 0 0 #555555;
  -moz-box-shadow: 0 0 0 #555555;
  box-shadow: 0 0 0 #555555;
  color: black;
}
/* line 95, ../sass/admin/partials/_actions.sass */
.action_button img {
  vertical-align: -20%;
}

/* line 1, ../sass/admin/partials/_footer.sass */
#footer {
  color: #999999;
  background-color: #f7f7f7;
  border-top: 1px solid #eaeaea;
  font-size: 80%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
/* line 10, ../sass/admin/partials/_footer.sass */
#footer p {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 1, ../sass/admin/partials/_popup.sass */
div.popup {
  color: #333333;
  background-color: white;
  border: 1px solid #777777;
  padding: 10px 20px;
}
/* line 7, ../sass/admin/partials/_popup.sass */
div.popup strong {
  font-weight: bold;
}
/* line 10, ../sass/admin/partials/_popup.sass */
div.popup em {
  font-style: italic;
}
/* line 13, ../sass/admin/partials/_popup.sass */
div.popup .busy {
  float: right;
  margin-top: 9px;
}
/* line 17, ../sass/admin/partials/_popup.sass */
div.popup .popup_title {
  background: #c5dff5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f5ff), color-stop(100%, #c5dff5));
  background-image: -webkit-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: -moz-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: -o-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: linear-gradient(top, #e5f5ff, #c5dff5);
  border-bottom: 1px solid #a7cdf0;
  cursor: move;
  font-weight: bold;
  font-size: 100%;
  margin: -10px -20px 20px -20px;
  padding: 6px 10px;
}
/* line 27, ../sass/admin/partials/_popup.sass */
div.popup p.intro {
  font-size: 90%;
}
/* line 30, ../sass/admin/partials/_popup.sass */
div.popup label {
  display: block;
  font-size: 85%;
}
/* line 33, ../sass/admin/partials/_popup.sass */
div.popup label.inline {
  display: inline;
}
/* line 35, ../sass/admin/partials/_popup.sass */
div.popup label span.hint {
  font-size: 90%;
  color: #666666;
}
/* line 39, ../sass/admin/partials/_popup.sass */
div.popup input.button {
  font-size: 120%;
}
/* line 42, ../sass/admin/partials/_popup.sass */
div.popup .viewport {
  background: white;
  border: 1px solid #dddddd;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  -webkit-box-shadow: 1px 1px 0 white;
  -moz-box-shadow: 1px 1px 0 white;
  box-shadow: 1px 1px 0 white;
  margin: 1em 0;
  overflow: auto;
}
/* line 50, ../sass/admin/partials/_popup.sass */
div.popup .viewport table.index {
  margin: -1px 0 0;
}
/* line 53, ../sass/admin/partials/_popup.sass */
div.popup .buttons {
  border-top: 1px solid #e5e5e5;
  background: whitesmoke;
  font-size: 85%;
  margin: 1.5em -20px -10px;
  padding: 10px;
  text-align: right;
}
/* line 60, ../sass/admin/partials/_popup.sass */
div.popup .buttons input.button {
  font-size: 120%;
}
/* line 62, ../sass/admin/partials/_popup.sass */
div.popup .buttons button {
  font-size: 110%;
  padding: 4px 15px 5px;
  background: whitesmoke;
  border: 1px solid #959595;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 0 inset white;
  -moz-box-shadow: 0 2px 0 inset white;
  box-shadow: 0 2px 0 inset white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(15%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #eeeeee 15%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 15%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #eeeeee 15%, #ffffff 100%);
  background-image: linear-gradient(top, #dddddd 0%, #eeeeee 15%, #ffffff 100%);
}
/* line 70, ../sass/admin/partials/_popup.sass */
div.popup .buttons button.default {
  border: 1px solid #154ca6;
  -webkit-box-shadow: 0 2px 1px inset #c7e0f6;
  -moz-box-shadow: 0 2px 1px inset #c7e0f6;
  box-shadow: 0 2px 1px inset #c7e0f6;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67b4e1), color-stop(100%, #78b9e1));
  background-image: -webkit-linear-gradient(top, #67b4e1, #78b9e1);
  background-image: -moz-linear-gradient(top, #67b4e1, #78b9e1);
  background-image: -o-linear-gradient(top, #67b4e1, #78b9e1);
  background-image: linear-gradient(top, #67b4e1, #78b9e1);
}
/* line 75, ../sass/admin/partials/_popup.sass */
div.popup .buttons button:active {
  border: 1px solid #888888;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(15%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #cccccc 0%, #dddddd 15%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #cccccc 0%, #dddddd 15%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #cccccc 0%, #dddddd 15%, #eeeeee 100%);
  background-image: linear-gradient(top, #cccccc 0%, #dddddd 15%, #eeeeee 100%);
}
/* line 79, ../sass/admin/partials/_popup.sass */
div.popup .buttons button.default:active {
  border: 1px solid #002c86;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4794c1), color-stop(100%, #78b9e1));
  background-image: -webkit-linear-gradient(top, #4794c1, #78b9e1);
  background-image: -moz-linear-gradient(top, #4794c1, #78b9e1);
  background-image: -o-linear-gradient(top, #4794c1, #78b9e1);
  background-image: linear-gradient(top, #4794c1, #78b9e1);
}
/* line 82, ../sass/admin/partials/_popup.sass */
div.popup .buttons button:focus {
  border-width: 2px;
}
/* line 84, ../sass/admin/partials/_popup.sass */
div.popup .buttons a.cancel {
  color: red;
}
/* line 87, ../sass/admin/partials/_popup.sass */
div.popup .tag_description, div.popup .snippet_description {
  border-bottom: 1px dotted silver;
  font-size: 95%;
  padding: 6px 0;
}
/* line 91, ../sass/admin/partials/_popup.sass */
div.popup .tag_description h4, div.popup .snippet_description h4 {
  color: green;
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 8px;
}
/* line 96, ../sass/admin/partials/_popup.sass */
div.popup .tag_description code, div.popup .snippet_description code {
  background-color: whitesmoke;
  color: #666666;
  font-family: Monaco, "Courier New", Courier, monospace;
  padding-top: 1px;
  padding-bottom: 1px;
}
/* line 102, ../sass/admin/partials/_popup.sass */
div.popup .tag_description pre, div.popup .snippet_description pre {
  background-color: whitesmoke;
  border: 1px solid #dddddd;
  color: #666666;
  font-family: Monaco, "Courier New", Courier, monospace;
  overflow: hidden;
  padding: 10px;
}
/* line 110, ../sass/admin/partials/_popup.sass */
div.popup .reference {
  font-size: 90%;
  border: 1px solid silver;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 140%;
  padding: 12px;
  padding-top: 1px;
  height: 300px;
  width: 40em;
}
/* line 121, ../sass/admin/partials/_popup.sass */
div.popup .reference code {
  background-color: whitesmoke;
  color: #666666;
  font-family: Monaco, "Courier New", Courier, monospace;
  padding-top: 1px;
  padding-bottom: 1px;
}
/* line 127, ../sass/admin/partials/_popup.sass */
div.popup .reference pre {
  background-color: whitesmoke;
  border: 1px solid #dddddd;
  color: #666666;
  font-family: Monaco, "Courier New", Courier, monospace;
  overflow: auto;
  padding: 10px;
}
/* line 134, ../sass/admin/partials/_popup.sass */
div.popup .reference table {
  width: 100%;
}
/* line 136, ../sass/admin/partials/_popup.sass */
div.popup .reference table th {
  color: green;
  font-size: 120%;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}
/* line 142, ../sass/admin/partials/_popup.sass */
div.popup .reference table td {
  border-bottom: 1px dotted silver;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}
/* line 147, ../sass/admin/partials/_popup.sass */
div.popup .reference table h1 {
  color: black;
  margin: 0;
  margin-bottom: 0.5em;
}
/* line 151, ../sass/admin/partials/_popup.sass */
div.popup .reference table acronym {
  border-bottom: 1px dotted silver;
}
/* line 153, ../sass/admin/partials/_popup.sass */
div.popup .reference table blockquote {
  border-left: 4px solid silver;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 161, ../sass/admin/partials/_popup.sass */
div.popup .close_link {
  font-size: 85%;
  text-align: center;
}

/* line 165, ../sass/admin/partials/_popup.sass */
.tag {
  color: green;
  cursor: pointer;
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 8px;
}

/* line 171, ../sass/admin/partials/_popup.sass */
.tag_options {
  margin-left: 1em;
}
/* line 173, ../sass/admin/partials/_popup.sass */
.tag_options li {
  margin-bottom: 8px;
}

/* line 175, ../sass/admin/partials/_popup.sass */
.tag_option_value_list {
  margin-left: 1em;
}
/* line 177, ../sass/admin/partials/_popup.sass */
.tag_option_value_list li {
  display: inline;
}
/* line 179, ../sass/admin/partials/_popup.sass */
.tag_option_value_list li:last-child {
  border: none;
}
/* line 181, ../sass/admin/partials/_popup.sass */
.tag_option_value_list li code {
  padding-left: 0.3em;
  padding-right: 0.3em;
}
/* line 184, ../sass/admin/partials/_popup.sass */
.tag_option_value_list li code:hover {
  background: #666666;
  color: white;
}

/* line 189, ../sass/admin/partials/_popup.sass */
div.popup .reference table th {
  border-bottom: 1px dotted silver;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}
/* line 194, ../sass/admin/partials/_popup.sass */
div.popup .reference table h2, div.popup .reference table h3, div.popup .reference table h4 {
  color: black;
  margin: 0;
  margin-bottom: 0.5em;
}

/* line 199, ../sass/admin/partials/_popup.sass */
div.popup.textured {
  background: #eeeeee;
}
/* line 202, ../sass/admin/partials/_popup.sass */
div.popup.textured .head {
  background: white;
  padding: 10px 20px;
  margin: -20px -20px 20px;
  border-bottom: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}
/* line 209, ../sass/admin/partials/_popup.sass */
div.popup.textured .buttons {
  border-top: 1px solid white;
  margin: 20px -20px -10px;
  padding: 20px;
  -webkit-box-shadow: 0 -1px 0 #cccccc;
  -moz-box-shadow: 0 -1px 0 #cccccc;
  box-shadow: 0 -1px 0 #cccccc;
}

/* line 1, ../sass/admin/partials/_tabcontrol.sass */
#tab_control {
  color: #333333;
  margin-bottom: 1em;
}
/* line 4, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .tabs {
  float: left;
  width: 100%;
  margin-right: -4px;
}
/* line 8, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .tabs .tab {
  background-color: #cac8c0;
  color: #7f7f7f;
  display: inline-block;
  font-size: 90%;
  text-align: left;
  margin-right: 5px;
  padding: 8px 15px 5px;
  text-decoration: none;
  text-transform: titlecase;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 19, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .tabs .tab.here {
  background-color: white;
  color: black;
  font-weight: bold;
}
/* line 23, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .tabs .tab span:hover {
  color: black;
}
/* line 25, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .tabs .tab .close {
  margin-top: -4px;
  margin-left: 5px;
  margin-right: -5px;
}
/* line 29, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .pages {
  background: white;
  width: 100%;
  clear: both;
}
/* line 33, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .pages .page {
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(15%, #f5f1e2), color-stop(100%, #f5f1e2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f1e2 15%, #f5f1e2);
  background-image: -moz-linear-gradient(top, #ffffff, #f5f1e2 15%, #f5f1e2);
  background-image: -o-linear-gradient(top, #ffffff, #f5f1e2 15%, #f5f1e2);
  background-image: linear-gradient(top, #ffffff, #f5f1e2 15%, #f5f1e2);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 12px 20px 20px;
}
/* line 38, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .pages .page p {
  margin-top: 0;
}
/* line 40, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .pages .page label {
  display: inline;
  color: #333333;
  font-weight: normal;
  font-size: 80%;
  text-shadow: none;
}
/* line 46, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .pages .reference_links {
  font-size: 85%;
  margin-left: 1em;
  float: right;
}
/* line 50, ../sass/admin/partials/_tabcontrol.sass */
#tab_control .pages .reference_links a {
  color: #0066cc;
}

/* line 53, ../sass/admin/partials/_tabcontrol.sass */
.tabs #tab_toolbar {
  float: right;
  overflow: hidden;
  margin-top: 0.2em;
  padding: 3px;
}

/* line 59, ../sass/admin/partials/_tabcontrol.sass */
.reference_links {
  font-size: 85%;
}
/* line 61, ../sass/admin/partials/_tabcontrol.sass */
.reference_links span {
  padding: 0 0 0 4px;
}
/* line 63, ../sass/admin/partials/_tabcontrol.sass */
.reference_links span a {
  color: #4444ee;
}

/* line 66, ../sass/admin/partials/_tabcontrol.sass */
#tag_reference_link {
  margin: 0 0.5em;
}

/* line 71, ../sass/admin/partials/_tabcontrol.sass */
body.reversed #tab_control textarea {
  border: 1px solid #cccccc;
}

/* line 1, ../sass/admin/partials/_dateinput.sass */
input.date {
  background: white url('/images/admin/calendar_down.gif?1426766850') right no-repeat;
  padding-right: 26px;
  width: 11em;
}

/* line 6, ../sass/admin/partials/_dateinput.sass */
.calendar_popup {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 1000;
  border: 1px solid #b2b2b2;
  background-color: white;
  padding: 5px;
  line-height: 140% !important;
}
/* line 15, ../sass/admin/partials/_dateinput.sass */
.calendar_popup a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 18, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar {
  font-size: 90%;
  margin: 0 !important;
}
/* line 22, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar tr.day_header th {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  color: #cccccc;
  padding: 2px;
}
/* line 28, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar th, .calendar_popup table.calendar td {
  text-align: center;
}
/* line 32, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar th.back, .calendar_popup table.calendar th.month_year, .calendar_popup table.calendar th.forward {
  padding-bottom: 3px;
}
/* line 35, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar td {
  height: 1em;
  padding: 3px !important;
  margin: 0;
}
/* line 39, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar td.today {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #e5e5e5;
}
/* line 42, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar td.today a {
  background-color: white;
}
/* line 44, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar td.selected a {
  color: white;
  background-color: #dd6600;
}
/* line 48, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar a {
  color: black;
  display: block;
  font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  width: 2.25em;
  padding: 0.2em 0;
}
/* line 56, ../sass/admin/partials/_dateinput.sass */
.calendar_popup table.calendar a:hover {
  color: white !important;
  background-color: #3257f4 !important;
}

/* line 61, ../sass/admin/partials/_dateinput.sass */
body.reversed .calendar_popup {
  border: 1px solid white;
}

/* line 2, ../sass/admin/partials/_toolbar.sass */
.toolbar select {
  float: left;
}

/* line 4, ../sass/admin/partials/_toolbar.sass */
div.textarea_toolbar {
  float: left;
  margin-bottom: 8px;
}
/* line 7, ../sass/admin/partials/_toolbar.sass */
div.textarea_toolbar span.separator {
  padding: 0;
  height: 6px;
  width: 2px;
  margin: 0 2px;
  border-left: solid 1px #d5d5d5;
  border-right: solid 1px whitesmoke;
}
/* line 14, ../sass/admin/partials/_toolbar.sass */
div.textarea_toolbar button,
div.textarea_toolbar button.unselected {
  margin: 0;
  background: none;
  border: none;
  padding: 2px 0;
  text-align: center;
  width: 24px;
}
/* line 22, ../sass/admin/partials/_toolbar.sass */
div.textarea_toolbar button img,
div.textarea_toolbar button.unselected img {
  vertical-align: text-bottom;
}
/* line 24, ../sass/admin/partials/_toolbar.sass */
div.textarea_toolbar button:hover,
div.textarea_toolbar button.unselected:hover {
  border: 1px solid #999999;
  padding: 1px 0;
}
/* line 28, ../sass/admin/partials/_toolbar.sass */
div.textarea_toolbar button.selected {
  border: 1px solid #ce9100;
  background-color: white;
  padding: 1px 0;
}

/* line 4, ../sass/admin/partials/_validations.sass */
#content span.error-with-field input, #content span.error-with-field select {
  background: #f3c2c2;
}
/* line 7, ../sass/admin/partials/_validations.sass */
#content span.error {
  line-height: 1.4;
  background-color: #cc0000;
  color: white;
  padding: 3px 6px;
  margin: 0 0 0 6px;
  background-color: #b30000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 16, ../sass/admin/partials/_validations.sass */
#content span.error a.closer {
  margin-left: 10px;
  color: #ffcccc;
  text-decoration: none;
}

/* line 6, ../sass/admin/partials/_deprecated.sass */
table.index td.note {
  color: silver;
  font-size: 85%;
  font-style: italic;
  padding: 3em;
  text-align: center;
}

/* line 14, ../sass/admin/partials/_deprecated.sass */
.row {
  clear: both;
  margin-top: 20px;
  width: 100%;
}
/* line 18, ../sass/admin/partials/_deprecated.sass */
.row p {
  float: left;
  margin: 0 2em 1.25em 0;
  font-size: 95%;
}
/* line 22, ../sass/admin/partials/_deprecated.sass */
.row p label {
  display: inline;
  text-shadow: #666666 1px 1px 0;
}

/* line 27, ../sass/admin/partials/_deprecated.sass */
div.popup h3.title {
  background: #c5dff5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f5ff), color-stop(100%, #c5dff5));
  background-image: -webkit-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: -moz-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: -o-linear-gradient(top, #e5f5ff, #c5dff5);
  background-image: linear-gradient(top, #e5f5ff, #c5dff5);
  border-bottom: 1px solid #a7cdf0;
  font-size: 100%;
  margin: -10px -20px 20px -20px;
  padding: 6px 10px;
}

/* line 37, ../sass/admin/partials/_deprecated.sass */
#actions a {
  background: #d8d8d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(top, #ffffff, #cccccc);
  color: #333333;
  font-size: 80%;
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 3px #555555;
  -moz-box-shadow: 1px 2px 3px #555555;
  box-shadow: 1px 2px 3px #555555;
}
/* line 47, ../sass/admin/partials/_deprecated.sass */
#actions a:hover {
  color: #0076a3;
  text-shadow: 1px 1px 1px white;
}
/* line 50, ../sass/admin/partials/_deprecated.sass */
#actions a:active {
  background: white;
  -webkit-box-shadow: 0 0 0 #555555;
  -moz-box-shadow: 0 0 0 #555555;
  box-shadow: 0 0 0 #555555;
  color: black;
}
/* line 54, ../sass/admin/partials/_deprecated.sass */
#actions a img {
  vertical-align: -20%;
}
